.mission-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .mission1, .mission2 {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  .mission1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .vision-header {
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .mission-text {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .mission-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    text-align: center;
  }
  